<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/index.css" />

  <title>Chat</title>
</head>

<body>
<div class='container-fluid bg-dark text-light'>
<nav>
  <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active bg-dark text-light border-0" 
    id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" 
    aria-controls="nav-home" aria-selected="true">Chat</a>
    <a class="nav-item nav-link bg-dark text-light border-0" 
    id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" 
    aria-controls="nav-profile" aria-selected="false">Profile</a>
    <a class="nav-item nav-link bg-dark text-light border-0" 
    id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" 
    aria-controls="nav-about" aria-selected="false">About</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <!-- CHAT -->
    <div class='row'>
      <!-- MESSAGES -->
      <div class='col-8 messages-container'>
        <div class='messages-list'>
          <div class="alert alert-dark alert-dismissible fade show" role="alert">
            <div class='alert-message'>Welcome, your username has been randomly assigned as <span class='labelname font-weight-bold'></span>!</div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <hr>
            <form class="input-group username-form">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="text" maxlength="32" required class="form-control nameInput" placeholder="change username" aria-label="Username" aria-describedby="basic-addon1">
            </form>
          </div>
        </div>
  
        <form class='message-form'>
          <div class="input-group">
            <span class="input-group-prepend">
              <span class='labelname input-group-text bg-secondary font-weight-bold text-light'></span>
            </span>
            <input type="text" autofocus required placeholder='send message' 
              class='messageInput form-control bg-dark text-light'
            />
          </div>
        </form>

        <div id='typing' class='font-weight-light ml-1'></div>
      </div>
  
      <!-- USERS -->
      <div class='col-4 users-container'>
        <h6 class='online-count-container'>
          users online <span class='online-count badge badge-secondary'></span>
        </h6>
        <div class='users-list'></div>
      </div>
        
    </div>
    
  </div> 

  <!-- USER INFO -->
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <h1>User Info</h1>
    <span class='labelname'></span>
    <!-- <form class="username-form form-inline mb-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input class="nameInput form-control mr-sm-2" placeholder="change username (soon)">
      </div>
    </form> -->
  </div>

  <!-- ABOUT PROJECT -->
  <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
    <ul>Features
      <li>Temporarily holds up to 30 messages until all users leave</li>
      <li>Typing indicator for when other users are typing</li>
      <li>Randomly generated username for new connections</li>
      <li>Change username with validation against existing usernames</li> 
      <li>Track online user count</li>
      <li>System messages for when user joins/leaves, user changes name</li>
    </ul>

    <ul>To-Do
      <li>Optimize scripts</li>
      <li>Custom colors for usernames</li>
      <li>Socket reconnect and connection errors</li>
      <li>RTC video chat</li>
      <li>Make tab-list border smoother</li>
      <li>Implement express-session and mongoDB for remembering user accounts</li>
    </ul>

    <p>
      <a href='http://ardenzhan.com/' target="_blank">Portfolio</a>,
      <a href='https://github.com/ardenzhan/' target="_blank">GitHub</a>
    </p>
    <p><a href='/draw' target="_blank">DRAW (WIP)</a></p>

  </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/index.js"></script>

</body>
</html>